body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.sample {
  margin: 0 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
}
